.WhiteButton {
    background-color: #ECF0F3;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 30px;           /* To be removed */
    box-shadow: 4px #D1D9E6;
    border: none;
    filter: drop-shadow(-4px -4px 4px #FFF) drop-shadow(4px 4px 4px #D1D9E6);
}

.BlueButton {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 30px;           /* To be removed */
    border-radius: 16px;
    background: linear-gradient(90deg, #1758F1 0%, #36D8E0 100%);
    box-shadow: 4px 4px 4px 0px #D1D9E6, -4px -4px 4px 0px #FFF;
    border: none;
    filter: drop-shadow(-4px -4px 4px #FFF) drop-shadow(4px 4px 4px #D1D9E6);
}

.IconButton {
    background-color: #ECF0F3;
    border-radius: 16px;
    padding: 8px;
    margin-top: 30px;           /* To be removed */
    box-shadow: 4px #D1D9E6;
    border: none;
    filter: drop-shadow(-4px -4px 4px #FFF) drop-shadow(4px 4px 4px #D1D9E6);
}

.WhiteButtonText {
    color: #808488;
    font-size: 20px;
    font-family: 'Century Gothic';
    font-weight: bold;
}

.BlueButtonText {
    color: #ECF0F3;
    font-size: 20px;
    font-family: 'Century Gothic';
    font-weight: bold;
}

.TitleText {
    color: #1C2323;
    font-size: 20px;
    font-family: 'Century Gothic';
    font-weight: bold;
    margin-top: 30px;           /* To be removed */
}

.SubtitleText {
    color: #808488;
    font-size: 14px;
    font-family: 'Century Gothic';
    font-weight: bold;
    margin-top: 30px;           /* To be removed */
}

.PlaceholderText {
    color: #929699;
    font-size: 14px;
    font-family: 'Century Gothic';
    font-weight: italic;
    margin-top: 30px;           /* To be removed */
}

.Input {
    margin-top: 30px;           /* To be removed */
}

input {
    color: #929699;
    font-size: 14px;
    font-family: 'Century Gothic';
    font-weight: normal;
    padding: 12px;
    border-radius: 24px;
    background: #ECF0F3;
    box-shadow: -4px -4px 5px 0px #FFF inset, 4px 4px 5px 0px #D1D9E6 inset;
    border: none;
    width: 250px;
}

input::placeholder {
    color: #929699;
    font-size: 14px;
    font-family: 'Century Gothic';
    font-weight: italic;
}

input:focus {
    outline: none;
}

.Error {
    color: #F05050;
    font-size: 14px;
    font-family: 'Century Gothic';
    font-weight: normal;
}

.DualContainer {
    display: inline-block;
    border-radius: 8px;
    background: #ECF0F3;
    box-shadow: -4px -4px 5px 0px #FFF, 4px 4px 5px 0px #D1D9E6;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 70%;
    text-align: left ;
    margin-top: 30px;        /* To be removed */
}

.DualContainerText {
    color: #6E7276;
    font-family: Century Gothic;
    font-size: 18px;
    font-style: normal;
    width: 80%;
    margin: auto;
}

.SwitchOnOff {
    box-shadow: -4px -4px 5px 0px #FFF, 4px 4px 5px 0px #D1D9E6;
}

.SwitchText {
    box-shadow: -4px -4px 5px 0px #FFF, 4px 4px 5px 0px #D1D9E6;
}

.MetricsOffText {
    color: #6E7276;
    text-align: center;
    font-family: Century Gothic;
    font-size: 12px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.MetricsOnText {
    background: linear-gradient(356deg, #1758F1 3.31%, #35D3E1 97.07%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Century Gothic;
    font-size: 12px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.DualButton {
    border-radius: 30px;
    background: #ECF0F3;
    box-shadow: -4px -4px 5px 0px #FFF inset, 4px 4px 5px 0px #D1D9E6 inset;
    border: none;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 30px;           /* To be removed */
}

.RoundButton {
    border-radius: 50%;
    background: #ECF0F3;
    box-shadow: -4px -4px 5px 0px #FFF, 4px 4px 5px 0px #D1D9E6;
    border: none;
    padding: 8px;
    margin-top: 30px;           /* To be removed */
}

.ClassicText {
    color: #1C2323;
    font-family: Century Gothic;
    font-size: 16px;
    font-style: italic;
}

.WhiteGlassMoText {
    color: #ECF0F3;
    text-align: center;
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: bold;
}

.BlueGlassMoText {
    color: #1758F1;
    text-align: center;
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: bold;
}

.WhiteGlassMoButton {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    background: linear-gradient(112deg, rgba(255, 255, 255, 0.90) 5.37%, rgba(255, 255, 255, 0.20) 93.54%);
    backdrop-filter: blur(7.5px);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 30px;           /* To be removed */
}

.BlueGlassMoButton {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: linear-gradient(112deg, rgba(26, 95, 242, 0.90) 5.37%, rgba(26, 95, 242, 0.20) 93.54%);
    backdrop-filter: blur(7.5px);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 30px;           /* To be removed */
}

.GlassMoContainer {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: linear-gradient(113deg, rgba(255, 255, 255, 0.90) 5.38%, rgba(255, 255, 255, 0.30) 94.4%);
    backdrop-filter: blur(7.5px);
    padding: 24px;
    margin: 5%;
    margin-top: 30px;           /* To be removed */
}