.cgu-page {
  margin: 0;
  padding: 0;
  background-image: url('../assets/back.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo-container-cgu {
  text-align: center;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.button-container-cgu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5%;
  max-width: -10px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glass-container-cgu {
  width: 80vw;
  height: 490px;
  top: 195px;
  left: 5vw;
  overflow-y: auto;
}

.title-container-cgu {
  text-align: center;
}

.texte-container-cgu {
  line-height: 1.5;
  padding: 10px;
  text-align: left;
}

.button-row-cgu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue-button-cgu,
.white-button-cgu {
  flex: 1;
  margin: -10px;
}
