body {
    overflow: hidden;
}

.container {
    position: relative;
    min-height: 100vh;
}

.button-back-general {
    position: absolute;
    top: 2%;
    left: 9%;
}

.title-general {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.container-general {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 10%;
    max-width: 100%;
}

.bottom-bar-general {
    position: fixed;
    bottom: 10px;
    left: 0;
    text-align: center;
}