.home-page {
  margin: 0;
  padding: 0;
  background-image: url('../assets/back.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button-container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 410px;
}

.glass-container-home {
  width: 100vw;
  height: 490px;
  top: 195px;
  left: 5vw;
  overflow-y: auto;
}

.hidden-button {
  background-color: white;
  border: none;
  width: 100%;
  display: flex;
}