.home-page {
  margin: 0;
  padding: 0;
  background-image: url("../assets/back.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title-container-home {
  margin-top: -70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.DetailText {
  font-weight: 500;
}

.DetailText span {
  display: block;
}

.TitleText {
  margin-top: 2px;
}

.button-container-home {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin-top: 5%;
  bottom: -2%;
}

.glass-container-home {
  width: 100vw;
  top: 195px;
  left: 5vw;
  overflow-y: auto;
}

.hidden-button {
  background-color: white;
  border: none;
  width: 100%;
  display: flex;
}

.title-home {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title-home img {
  width: 25px;
  height: 23px;
  margin-left: 5px;
}

.bottom-bar-home {
  position: fixed;
  bottom: 10px;
  left: 0;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .glass-container-home {
    width: 90vw;
    top: 150px;
    left: 5vw;
  }
}