.container {
    position: relative;
    min-height: 100vh;
}

.button-back-navigation {
    position: absolute;
    top: 2%;
    left: 5%;
}

.titre-navigation {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.detail-navigation {
    position: absolute;
    top: calc(4% + 2.5rem);
    left: 20%;
    transform: translateX(-50%);
    max-width: 90%;
}

.container-navigation {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 10%;
    max-width: 100%;
}

.bottom-bar {
    text-align: center;
}

