.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button-back-propos {
  position: fixed;
  top: 15px;
  left: 25px;
  z-index: 1
}

.titre-propos {
  margin-top: -25px;
  z-index: 1
}

.button-container-propos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

.glass-container-propos {
  width: 90vw;
  height: 700px;
  top: 195px;
  left: 5vw;
  overflow-y: auto;
  margin-top: -20px;
}

.texte-container-propos {
  line-height: 1.5;
  padding: 10px;
  text-align: left;
  margin-top: -30px;

}

.bottom-bar {
  position: fixed;
  bottom: 20px;
  left: 0;
  text-align: center;
}