.search-page {
  display: flex;
  flex-direction: column;
}

.search-bar-container {
  padding-top: 20px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
}

.result-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
