/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button-back-navigation {
  /* position: fixed;
  top: 10px;
  left: 25px;
  z-index: 1;
  margin-bottom: 10px; */
  position: fixed;
    top: 15px;
    left: 25px;
    z-index: 1
}

.titre-navigation {
  /* position: fixed;
  top: 0;
  margin-top: 22px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; */
  margin-top: -25px;
    z-index: 1
}

/* .detail-navigation {
  position: fixed;
  top: 80px;
  left: 40px;
  z-index: 1;
} */

.bottom-bar {
  position: fixed;
  bottom: 20px;
  left: 0;
  text-align: center;
}