body{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    background-color: #d8d8d8;
}
.progress{
    height: 10px;
    width: 110%;
    border: 7px solid #1758f1;
    border-radius: 15px;

}
.progress .color{
    background-color: #35D3E1;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 4s infinite linear;    
}
@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};