.microphone-search-wrapper {
  border-radius: 30px;
  background: #ecf0f3;
  box-shadow: -2px -2px 5px 0px #fff, 2px 2px 5px 0px #d1d9e6;
  height: 40px;
  width: 40px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#microphone-icon {
  color: #1758f1;
  size: 14px;
}
