.input-wrapper {
  color: #929699;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 30px;
  padding: 0 15px;
  box-shadow: -4px -4px 5px 0px #fff inset, 4px 4px 5px 0px #d1d9e6 inset;
  background-color: #ecf0f3;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 14px;
  font-family: "Century Gothic";
  font-weight: normal;
  color: #929699;
  width: 100%;
  margin-left: 5px;
}

input::placeholder {
  color: #929699;
  font-size: 14px;
  font-family: "Century Gothic";
  font-weight: italic;
}

input:focus {
  outline: none;
}

#left-icon {
  color: #6f7176;
}

#back-icon {
  cursor: pointer;
}
