body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* File: font.css */
@font-face {
  font-family: "CenturyGothic";
  src: url("./Fonts/CenturyGothic.otf") format("opentype");
}

@font-face {
  font-family: "CenturyGothicBold";
  src: url("./Fonts/CenturyGothicBold.otf") format("opentype");
}

@font-face {
  font-family: "CenturyGothicBoldItalic";
  src: url("./Fonts/CenturyGothicBoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "CenturyGothicItalic";
  src: url("./Fonts/CenturyGothicItalic.otf") format("opentype");
}
